/* Citizenship Page Styles */

.hover-card {
    transition: transform .5s cubic-bezier(.4, 0, .2, 1), box-shadow .5s cubic-bezier(.4, 0, .2, 1);
}

.hover-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
}

.animate-fade-up {
    animation: fadeInUp .8s cubic-bezier(.4, 0, .2, 1) forwards;
}

.text-gray-600 {
    max-width: 1400px;
    margin: auto;
}