.image-gallery {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.gallery-item.portrait {
    aspect-ratio: 5 / 7;
}

/* 1 item */
.gallery-item:first-child:nth-last-child(1),
.gallery-item:first-child:nth-last-child(1)~.gallery-item {
    width: 1800px;
}

/* 2 items */
.gallery-item:first-child:nth-last-child(2),
.gallery-item:first-child:nth-last-child(2)~.gallery-item {
    width: 880px;
}

/* 3 items */
.gallery-item:first-child:nth-last-child(3),
.gallery-item:first-child:nth-last-child(3)~.gallery-item {
    width: 580px;
}

/* 4 items */
.gallery-item:first-child:nth-last-child(4),
.gallery-item:first-child:nth-last-child(4)~.gallery-item {
    width: 420px;
}

/* 5 items */
.gallery-item:first-child:nth-last-child(5),
.gallery-item:first-child:nth-last-child(5)~.gallery-item {
    width: 350px;
}

/* 6 items */
.gallery-item:first-child:nth-last-child(6),
.gallery-item:first-child:nth-last-child(6)~.gallery-item {
    width: 270px;
}

.gallery-image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.narrative-section-title {
    color: var(--gold);
}