.image-gallery {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    min-width: 460px;
    aspect-ratio: 16 / 9;
}

/* 1 item */
.gallery-item:first-child:nth-last-child(1),
.gallery-item:first-child:nth-last-child(1)~.gallery-item {
    max-width: 96%;
}

/* 2 items */
.gallery-item:first-child:nth-last-child(2),
.gallery-item:first-child:nth-last-child(2)~.gallery-item {
    max-width: 48%;
}

/* 3 items */
.gallery-item:first-child:nth-last-child(3),
.gallery-item:first-child:nth-last-child(3)~.gallery-item {
    max-width: 32%;
}

.gallery-image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.narrative-section-title {
    color: var(--gold);
}